@font-face {
  font-family: "Poppins";
  src: url("/font/poppins-v23-latin-regular.woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "LPMQ-Isep-Misbah";
  src: url("/font/LPMQ IsepMisbah.woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@import "tailwindcss" source(".");

@theme {
  --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  --font-quran: "LPMQ-Isep-Misbah";
}

html,
body {
  font-family: var(--font-sans);
  @apply bg-white;
}

.hamburger span {
  position: absolute;
  background-color: white;
  height: 4px;
  border-radius: 4px;
  width: 100%;
}

.nav-menu li a {
  transition: color ease-in-out 0.2s;
}

.nav-menu li a:hover {
  cursor: pointer;
  color: #ffbf00;
}

.button {
  @apply text-base bg-green-500 hover:bg-green-700 text-white font-bold px-4 py-2 mt-4 rounded-full cursor-pointer transition-colors duration-300;
}

.link-text {
  @apply text-green-500 hover:text-green-700 transition-colors duration-300;
}
